<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout 3</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <header>
        <div>
            <h1>HEADER CONTROL</h1>
        </div>
    </header>
    
    <section>

        <div class="left-block">
            <div class="module-title">
                <h3 class="module-title-h3">MODULE TITLE</h3>
            </div>
            <div class="module-content">
                <h3 class="module-content-h3">MODULE CONTENT</h3>
            </div>
            <div class="module-item">
                <h3 class="module-item-h3">MODULE ITEM</h3>
            </div>
        </div>
       
        <div class="middle-block">
            <div class="page-content">
                <h3 class="page-content-h3">PAGE CONTENT</h3>
            </div>
            <div class="page-item1">
                <h3 class="page-item-h3">PAGE ITEM 1</h3>
            </div>
            <div class="page-item2">
                <h3 class="page-item-h3">PAGE ITEM 2</h3>
            </div>
            <div class="page-item3">
                <h3 class="page-item-h3">PAGE ITEM 3</h3>
            </div>
            <div class="middle-bar">
                <h3 class="middle-bar-h3">MIDDLE BAR</h3>
            </div>
        </div>
        
        <div class="right-block">
            <h3 class="right-block-h3">RIGHT SIDE BAR</h3>
        </div>
    </section>
    
    <footer>
        <div>
            <h1>FOOTER CONTROL</h1>
        </div>
    </footer>
</body>
</html>