<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout 2</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1>LOGO</h1>
        </div>
        <div class="banner">
            <h1>BANNER</h1>
        </div>
    </header>
    
    <section  class="content">
        <div class="left-block"></div>
        <div class="center">
            <div class="top"></div>
            <div class="middle">
                <div class="middle-left"></div>
                <div class="middle-right"></div>
            </div>
            <div class="bottom"></div>
        </div>
        <div class="right-block"></div>
    </section>
    <footer>
        <h1>FOOTER</h1>
    </footer>
</body>
</html>