<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout 4</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header>
        <div class="head">
            <h1> Main Header</h1>
        </div>
        <div class="nav">
            <h3 class="header-nav">Main NAV</h3>
        </div>
     </header>
    <section>
        <div class="left-block">
            <div class="left-header">
                <h3 class="left-header-block">Left Header</h3>
            </div>
            <div class="left-nav">
                <h2 class="left-nav-block">Left Nav</h2>
            </div>
            <div class="left-footer">
                <h3 class="left-footer-block">Left Footer</h3>
            </div>
        </div>
        <div class="right-block">
            <div class="article-top">
                <div class="article-top-header">
                    <h3 class="article-top-header-h3">Article Top Header</h3>
                </div>
                <div class="article-top-p1">
                    <p class="article-top-p1-p">Paragraph</p>
                </div>
                <div class="article-top-p2">
                    <p class="article-top-p2-p">Paragraph</p>
                </div>
                <div class="article-top-footer">
                    <h3 class="article-top-footer-h3">Article Top Footer</h3>
                </div>
            </div>
            <div class="article-bottom">
                <div class="article-bottom-header">
                    <h3 class="article-bottom-header-h3">Article Bottom Header</h3>
                </div>
                <div class="article-bottom-content">
                    <div class="article-bottom-content-left">
                        <h6 class="article-bottom-content-left-h6">Article Bottom Content Left</h6>
                    </div>
                    <div class="article-bottom-content-right">
                        <h6 class="article-bottom-content-right-h6">Article Bottom Content Right</h6>
                    </div>
                </div>
                <div class="article-bottom-footer">
                    <h3 class="article-bottom-footer-h3">Article Bottom Footer</h3>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <h1>Main Footer</h1>
    </footer>
</body>
</html>